@page
@model Buckets.IndexModel
@{
    ViewData["Title"] = "Bucket";
}
<h1>@ViewData["Title"]</h1>

@foreach (var obj in @Model.Objects)
{
<ul>
  <li>
    <a asp-area="" asp-page="./Details" asp-route-id="@obj.Name">@obj.Name</a>
  </li>
</ul>
}
